* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tiny5';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    width: 100%;
    padding: 24px 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    background-color: var(--bg-color-gray);
    background-image: url('assets/img/transparent_pokeball.png');
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 50%;
}

nav>a>img {
    height: 80px;
}

h1 {
    font-size: 3.5rem;
}

footer {
    background-color: var(--bg-color-gray);
    padding: 24px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

main {
    background-color: var(--bg-color-pokemon-red);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("assets/img/pokeballs_bg.png");
    flex: 1;
}

.footer_link {
    text-decoration: none;
    color: var(--bg-color-pokemon-red);
    transition: all 255ms ease-in-out;
    border-bottom: 2px dotted transparent;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer_link:hover {
    color: var(--font-color-dark-grey);
    border-color: var(--bg-color-pokemon-red);
}

.loading_screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loading_spinner {
    width: 300px;
    transform: rotate(0);
    animation: loadspin 4s infinite linear;
}

@keyframes loadspin {
    to {
        transform: rotate(360deg);
    }
}

.pokemon_search {
    background-image: url('assets/img/prof_oak.png');
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 20px auto;
    padding: 12px 12px 12px 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 300px;
}

.search_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_section_wrapper {
    margin: 40px 0;
    display: flex;
    gap: 16px;
}

#search_error,
.loading_text,
.nothing_found_text {
    font-size: 1.5rem;
    color: var(--bg-color-gray);
}

.d_none {
    display: none;
}

@media screen and (max-width: 640px) {
    nav {
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 3rem;
    }

    nav>a>img {
        height: 65px;
    }

    nav {
        padding: 18px 60px;
    }

    .search_section_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search_button {
        width: 94px;
    }

    .pokemon_search {
        width: 280px;
    }
}