* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tiny5';
}

body {
    height: 100dvh;
}

nav {
    width: 100%;
    padding: 24px 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    background-color: rgb(219, 219, 219);
    background-image: url('assets/img/transparent_pokeball.png');
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 50%;
}

nav>img {
    height: 80px;
}

h1 {
    font-size: 3.5rem;
}

footer {
    background-color: rgb(219, 219, 219);
    padding: 24px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: brown;
}

.loading_screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loading_spinner {
    width: 300px;
    transform: rotate(0);
    animation: loadspin 4s infinite linear;
}

@keyframes loadspin {
    to {
        transform: rotate(360deg);
    }
}

.d_none {
    display: none;
}