.pokedex_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 36px;
    background-color: brown;
    padding: 56px;
}

.pkm_content_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    background-color: rgb(219, 219, 219);
    padding: 24px;
    font-family: 'Tiny5';
    font-size: 1.5rem;
    border-radius: 36px;
    background-image: url('../assets/img/pkm_background.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.pkm_type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.pkm_number {
    align-self: flex-end;
}

.pkm_img {
    height: 150px;
    width: auto;

}

.pkm_name {
    font-size: 2rem;
    line-height: 1;
    text-transform: uppercase;
    color: rgb(39, 39, 39);
}

.about_section,
.stats_section {
    display: flex;
}

dialog {
    background-color: rgb(219, 219, 219);
}

