.pkm_content_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    background-color: darkcyan;
    padding: 24px;
    font-family: 'Tiny5';
    font-size: 1.5rem;
}

.pkm_type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pkm_number {
    align-self: flex-end;
}

.pkm_img {
    height: 120px;
    width: auto;
    
}

.pkm_name {
    font-size: 1.75rem;
}